# Flask Configuration
FLASK_ENV=production
# FRONTEND_ORIGIN: Frontend Web URL (ex: https://your-app.web.app or https://your-cloud-run-service.run.app)
FRONTEND_ORIGIN=YOUR_CLOUD_RUN_URL

# Firebase Configuration
# HOUSEHOLD_ID: Firestore document ID to logically separate household data
HOUSEHOLD_ID=demo-household
# RECEIPT_TEMP_BUCKET: GCS bucket name for storing temporary receipt uploads
RECEIPT_TEMP_BUCKET=YOUR_FIREBASE_PROJECT_ID-receipt-temp


# Google Drive Integration
# DRIVE_SHARED_FOLDER_ID: The Google Drive folder ID to sync receipts and backups
DRIVE_SHARED_FOLDER_ID=YOUR_GOOGLE_DRIVE_FOLDER_ID

# Gemini API Configuration
# models options: free_gemini35, free_gemini25, paid_gemini35, paid_gemini25
GEMINI_FREE_API_KEY=YOUR_SECRET_NAME
GEMINI_PAID_API_KEY=YOUR_SECRET_NAME

# Discord Integration
# DISCORD_RELEASE_WEBHOOK_URL: Webhook URL for discord deployment and transaction notifications
DISCORD_RELEASE_WEBHOOK_URL=YOUR_SECRET_NAME
